/Aula_22-08-2024/nbproject/private/
/Aula_22-08-2024/build/
/Aula_22-08-2024_Proj2/nbproject/private/
/Aula_22-08-2024_Proj2/build/
/Projeto2_Aula3_22-08-2024/build/
/Projeto2_Aula3_22-08-2024/nbproject/private/
/Projeto1_Aula2_15-08-2024/build/
/Projeto1_Aula2_15-08-2024/nbproject/private/
/Projeto1_Aula2_15-08-2024_Adilson/build/
/Projeto1_Aula2_15-08-2024_Adilson/nbproject/private/
/Projeto1_Aula3_22-08-2024/build/
/Projeto1_Aula3_22-08-2024/nbproject/private/
/Projeto1_Aula3_22-08-2024_Adilson/build/
/Projeto1_Aula3_22-08-2024_Adilson/nbproject/private/
/Projeto2_Aula3_22-08-2024_Adilson/build/
/Projeto2_Aula3_22-08-2024_Adilson/nbproject/private/
/ProjLoginSenha_Aula2_15-08-2024_Edu/nbproject/private/
/ProjLoginSenha_Aula2_14-08-2024_Edu/nbproject/private/
/WebAppProd/nbproject/private/
/WebAppProd/build/
/ProjCalcSen/nbproject/private/
/ProjCalcSen/build/
/2_ProjNotasAlunoBD_Aula_29-08-2024_Edu/build/
/ProjNotasAlunoBD_2/nbproject/private/
/3_ProjNotasAlunoBD_Aula_04-09-2024_Edu/nbproject/private/
/Projeto3_Aula_30-08-2024_Adilson - Copia/nbproject/private/
/Projeto3_Aula_30-08-2024_Adilson - Copia/build/
/WebAppFunc/nbproject/private/
/WebAppFunc/build/
/3_ProjNotasAlunoBD_Aula_04-09-2024_Edu/build/
/Projeto5_Aula_12-09-2024_Adilson/nbproject/private/
/Projeto5_Aula_12-09-2024_Adilson/build/
/Projeto6_Aula_26-09-2024_Adilson_BancoXPTO/nbproject/private/
/Projeto6_Aula_26-09-2024_Adilson_BancoXPTO/build/
/4_ProjFinan_Edu/nbproject/private/
/4_ProjFinan_Edu/build/
/Proj7_M1_99-Inscricao/nbproject/private/
/Projeto7_M1_99-Inscricao/build/
/Projeto8_Pesquisa/nbproject/private/
/Projeto8_Pesquisa/build/
